@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import "tailwindcss";

:root {
  --brand-color: #ffbb00;
}

@layer utilities {
  .custom-gradient::after {
    background: linear-gradient(to right, #111111, #444444, #b6b6b8, #444444, #2F2F2F, #272727);
  }

}

* {
  outline: none;
}
